body
{
    background-image: url(https://th.bing.com/th/id/R.364d7099b070ee2c659f687b61197991?rik=1jhZYWRRxcnBUg&riu=http%3a%2f%2fd2f0ora2gkri0g.cloudfront.net%2fb3%2f27%2fb3277e96-3daa-4c6f-b565-8d3a93e94fde.jpg&ehk=QTSzxEU5M1VKjWN593sG6W5w5m11BJQOGnFzMY4rchw%3d&risl=&pid=ImgRaw&r=0);
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img
{
    width: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 18%;
    z-index: 2;
}

.clock
{
    position: relative;
    background-image: url(https://wallpapercave.com/wp/zISqZwF.jpg);
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px;
    border-style: solid;
    border-color: #83580b;
    box-shadow: 1px 1px 4px rgba(0,0,0,.7);
}

.numbers div
{
    position: absolute;
    font-size: 27px;
    font-weight: bold;
    color: #d4af37 ;
    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
}

.twelve
{
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.three
{
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.six
{
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.nine
{
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.arrows
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.arrows::before
{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #c0c0c0;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,.7);
    z-index: 4;
}

.arrows div
{
    background-color: aliceblue;
    width: 7px;
    position: absolute;
    height: 120px; 
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    box-shadow:1px 1px 2px rgba(0,0,0,.3); ;
}

.arrows .hour
{
    height: 80px;
    transform:rotate(30deg);
    background-color: lightblue;
}

.arrows .second
{
    transform:rotate(250deg);
    background-color:#c0c0c0;
}
